<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="header1">
      <h1>Wellspring College Staff Movement</h1>
    </div>
    <div class="creatediv">
      <div class="navdiv">
        <ul>
          <li>
            <a href="/login"><button>LOGIN</button></a>
          </li>
          <li>
            <a href=""><button>LOGOUT</button></a>
          </li>
          <li>
            <a href="/signup"><button>SIGN UP</button></a>
          </li>
        </ul>
      </div>
    </div>
    <h2 class="staffdiv">Staff Movement Details</h2>
    <div class="stafflogdiv">
      <a href="/update/<%= staffresult._id%>">
        <p><%= staffresult.staffname%></p>
        <p><%= staffresult.destination%></p>
        <p><%= staffresult.purpose%></p>
        <p><%= staffresult.department%></p>
        <p><%= staffresult.authorization%></p>
        <p><%= staffresult.possiblereturn%></p>
        <p><%= staffresult.timeout%></p>
        <p><%= staffresult.timein%></p>
        <p><%= staffresult.createdAt%></p>
        <p><%= staffresult.updatedAt%></p>
      </a>
    </div>
    <div class="imagesmall">
      <a class="delete" data-doc="<%= staffresult._id %>">
        <img src="/delete-icon.svg" alt="delete icon" class="iconimage" />
        <p class="trashdelete">Delete</p>
      </a>
    </div>
    <script>
      const deletepost = document.querySelector("a.delete");
      deletepost.addEventListener("click", (e) => {
        const endpoint = `/staff/${deletepost.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => {
            response.json().then((data) => {
              window.location.href = data.redirect;
            });
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
