<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="header1">
      <h1>Wellspring College Staff Movement</h1>
    </div>
    <div>
      <h2>Update Form</h2>
    </div>
    <div class="namediv">
      <form action="/staff/<%= result._id %>?_method=PUT" method="POST">
        <div>
          <label for="name">Name</label>
          <input
            type="text"
            name="staffname"
            id="name"
            value="<%= result.staffname%>"
            required
          />
        </div>

        <div>
          <label for="destination">Destination</label>
          <input
            type="text"
            name="destination"
            id="destination"
            value="<%= result.destination%>"
            required
          />
        </div>

        <div>
          <label for="purpose">Purpose</label>
          <input
            type="text"
            name="purpose"
            id="purpose"
            value="<%= result.purpose%>"
            required
          />
        </div>

        <div>
          <label for="department">Department</label>
          <input
            type="text"
            name="department"
            id="department"
            value="<%= result.department%>"
            required
          />
        </div>

        <div>
          <label for="authorization">Authorization</label>
          <input
            type="text"
            name="authorization"
            id="authorization"
            value="<%= result.authorization%>"
            required
          />
        </div>

        <div>
          <label for="possiblereturn">Possibility Of Return</label>
          <input
            type="text"
            name="possiblereturn"
            id="possiblereturn"
            value="<%= result.possiblereturn%>"
            required
          />
        </div>

        <div>
          <label for="timeout">Time Out</label>
          <input
            type="text"
            name="timeout"
            id="timeout"
            value="<%= result.timeout%>"
            required
          />
        </div>

        <div>
          <label for="timein">Time In</label>
          <input
            type="text"
            name="timein"
            id="timein"
            value="<%= result.timein%>"
            required
          />
        </div>
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
  </body>
</html>
